<h1>Browse Projects</h1>

<h2><%= page_entries_info @projects %></h2>

<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


<p><% @projects.each do |p| %></p>
<p><%= p.name %></p>
<p><%= p.description %></p>
<p><%= p.start_date %> - <%= p.end_date %></p>
<% end %>

<%= paginate @projects, :remote => true%>