<h1>Browse Projects</h1>



<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>

<%= render @projects %>

<p><% @projects.each do |p| %></p>
<p><%= link_to "#{p.name}", project_url(p) %></p>
<p><%= p.description %></p>
<p><%= p.start_date %> - <%= p.end_date %></p>
<% end %>

