<p><%= @project.name %></p>
<p>by <%= @project.owner_name %></p>
<br>
<p> <%= @project.pledges.count %> backers </p>
<p><%= number_to_currency(@project.pledge_total) %> pledged of
  <%= number_to_currency(@project.funding_goal) %> goal </p>
<p><%= @project.start_date %></p>
<p><%= @project.end_date %></p>

<p><%= (@project.description).capitalize %></p>
<p>Category: <%= @project.category %></p>

<br>
<p><%= render 'reward_list' %></p>

<h3>Comments</h3>

  <p>Comments for <%= @project.name %></p>

  <% @project.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.name %></em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
<% end -%>


<h4>New Comment</h4>

 <%= form_for([@project, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit "Add Comment" %>
    </div>
  <% end %>

  <%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

