<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
<span class="nav_links"><%= link_to 'Crowdfunder', home_url %></span>  |
<span class="nav_links"><%= link_to 'Browse All Projects', projects_path %></span>  |
<span class="nav_links"><%= link_to 'Projects by Category', category_url %></span>  |
<span class="nav_links"><%= link_to 'New Project', new_project_path %></span>  |

  <% if current_user %>
    Logged in as <%= link_to current_user.first_name, user_url(current_user) %>.
    <span class="nav_links"><%= link_to "Log out", logout_path %></span>
  <% else %>
    <span class="nav_links"><%= link_to "Log in", login_path %></span> or
    <span class="nav_links"><%= link_to "Sign up", signup_path %></span>
  <% end %>
</div>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
